*{
  font-family: 'Merriweather', 'Noto Sans JP', sans-serif;}

body{
  color: #8b7969;
  background-color: #fff;
  /* font-family: 'Merriweather', 'Noto Sans JP', sans-serif; */
}

.header__inner{
  display: flex;
  justify-content:space-between;
  border-bottom: #e0dfde solid 2px;
}

.header__logo {
  text-decoration: none;
  font-size: 30px;
  transform: translateX(15px);
  margin: 15px 0;
}

.header__inner form{
  margin: auto 30px auto 0;
}

/* ヘッダーボタン */
.header__inner button{
  width: 80px;
  height: 30px;
  background-color: #F6F6F6;
  color: #D9C6B5;
  border: 1px solid #D9C6B5;
  cursor: pointer;
}

#button__dummy{
  visibility: hidden;
}

#button__register{
  display: none;
}

#button__login{
  display: none;
}

#button__logout{
  display: none;
}

/* エラーメッセージ */
.form__error {
  color: #ff0000;
  margin: 0;
}

.form__error ul {
  /* height: 30px; */
  /* margin: 10px 0; */
}

/* 入力フォーム */
::placeholder {
  color: #A0A0A0;
}

input, textarea, select{
  padding-left: 20px;
  background-color: #F4F4F4;
  border: none;
}

button{
  background-color: #82756A;
  color: #fff;
  border: none;
  cursor: pointer;
}