.div__main {
  display: flex;
  flex-direction: column;
}

.h2__confirm {
  text-align: center;
}

.form__confirm {
  margin: auto;
}

.form__confirm
table,
th,
td {
  border: 1px solid #EFEFEE;
}

.table__confirm tr {
  height: 60px;
}

.table__confirm th{
  width: 230px;
  color: #fff;
  background-color: #baa899;
  padding-left: 30px;
  text-align: left;
  font-weight: lighter;
}

.table__confirm td {
  width: 600px;
  padding-left: 20px;
}

.div__button{
  text-align: center;
  margin-top: 30px;
}

.button__submit{
  color: #fff;
  background-color: #82756a;
  margin: 10px;
  padding: 10px 40px;
  cursor: pointer;
}

.button__correct {
  color: #8b7969;
  background-color: transparent;
  margin: 10px;
  padding: 10px 40px;
  border: none;
  text-decoration: underline;
  cursor: pointer;
}